# -*- coding: utf-8 mode: yaml -*- vim:sw=2:sts=2:et:ai:si:sta:fenc=utf-8

## Définition des sources de données
# sous chacune des clés apogee, scolarix, sve, il peut y avoir autant de clés
# que de profils supportés (i.e prod, test, etc.)

apogee:
  prod:
    server:
    port: 1521
    database:
    login: APOGEE
    password:

scolarix:
  prod:
    server:
    port: 1521
    database:
    schema:
    login: grhum
    password:

sve:
  prod:
    server:
    port: 1521
    database:
    schema: GRHUM
    login: grhum
    password:
